body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.d-none {
    display: none;
}

/*
.full-div {
    background-image: url('img/3. Background/first-screen.png');
}
*/

canvas {
    background-color: black;
    z-index: 999;
}